@tailwind base;
@tailwind components;
@tailwind utilities;

.header-title {
  font-family: var(--secondary-font);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 5px;
}

@layer components {
  .header-card {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    @apply rounded-md text-sm;
  }

  .divider {
    height: 100%;
    width: 2px;
    background-color: #f2f2f2;
  }

  .header-card > *:not(.divider) {
    @apply px-3 py-4;
  }

  .modal-panel {
    @apply w-full max-w-full transform overflow-hidden bg-white p-12 text-left align-middle shadow-xl transition-all;
  }

  .tab-list {
    @apply flex flex-col shadow drop-shadow-lg px-4 rounded-xl md:flex-row;
  }
}

@media screen and (max-width: 640px) {
  .divider {
    height: auto;
  }
}
